doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/bower_components/bootstrap/dist/css/bootstrap.min.css')
  
  body
    include ./partials/navbar.jade

    .container
      .row
        .col-sm-3
          include ./partials/links.jade
        .col-sm-9
          block content
    
    script(src='/bower_components/jquery/dist/jquery.min.js')
    script(src='/bower_components/bootstrap/dist/js/bootstrap.min.js')